version: "3.8"

services:
  provider-service:
    build:
      context: ./provider-service
      dockerfile: Dockerfile
    container_name: provider-service
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
    networks:
      - microservices-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3001/health",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  consumer-service:
    build:
      context: ./consumer-service
      dockerfile: Dockerfile
    container_name: consumer-service
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - PROVIDER_SERVICE_URL=http://provider-service:3001
    depends_on:
      provider-service:
        condition: service_healthy
    networks:
      - microservices-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000/health",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

networks:
  microservices-network:
    driver: bridge
