services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=password
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5

  provider-service:
    build:
      context: ./provider-service
      dockerfile: Dockerfile
    environment:
      - PORT=3001
      - RABBITMQ_URL=amqp://user:password@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-network
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: "0.5"
          memory: 256M

  consumer-service:
    build:
      context: ./consumer-service
      dockerfile: Dockerfile
    container_name: consumer-service
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - PROVIDER_SERVICE_URL=http://provider-service:3001
      - RABBITMQ_URL=amqp://user:password@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
      provider-service:
        condition: service_started
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
